<html>
    <body style="background-color:#fcd3d3">
        <div style="width:500px; height:500px; left:50%; top:50%; margin: -250px 0px 0px -250px; border: 1px solid; background-color:White; position:absolute">
            <div style="display:table-cell; width:500px; height:500px; text-align:center; vertical-align:middle">
                <h1 style="font-family:helvetica; color:#ef3255">LOTTO MACHINE</h1>
                <tr>
                    <td><%= image_tag@ball1 %></td>
                    <td><%= image_tag@ball2 %></td>
                    <td><%= image_tag@ball3 %></td>
                    <td><%= image_tag@ball4 %></td>
                    <td><%= image_tag@ball5 %></td>
                    <td><%= image_tag@ball6 %></td>
                <tr>
                <br>
                <h4>*BONUS : <%= @pick_bonus%></h4>
                <a href="https://lotto-yoonisus.c9users.io/"><%= image_tag("joystick2.png")%></a>
            </div>
        </div>
    </body>
</html>
